.App {
    width: 100vw;
    /* background: teal; */
    background-image: linear-gradient(to right, #051421, #042727);
}

.body {
    /* background-color: red; */
    background-image: linear-gradient(to right, red, yellow);
  }